			<section id="sidebar-about" class="well">
				<h3 class="mini-icon">About the Lab</h3>
				<p>Research in the D'Orso lab focuses on understanding molecular mechanisms of transcriptional regulation and defining how these normal programs become deregulated during viral infections and disease states. One specific aspect is to elucidate how transcription factors (NF-κB) mediate rapid RNA Polymerase II transcription elongation when cells are exposed to environmental cues, and how aberrant transcription activation promotes disease states.</p>
			</section>
