			<section id="sidebar-about" class="well">
				<h3 class="mini-icon">About Me</h3>
				<p>A wet biologist's bioinformatic notes. Mostly is about Linux, R, python, reproducible research, open science and NGS. I am into data science! I am working on glioblastoma (a terrible brain cancer) genomics at MD Anderson cancer center. Disclaimer: For posts that I copied from other places, credits go to the original authors. Follow the links to the original posts, I mainly put them here for my own future references.</p>
			</section>
